# 忽略编译生成的二进制文件
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.ko
*.d


# 忽略编译中间产物
*.s
*.i
*.o
*.out
*.cmd
*.bin
*.su
*.tmp
*.dtb
*.old
*.config
*.map
*.cfgout
*.srec
*.log
*.imx
*.lds
*.cfg
*.sym
*.order
*.mod.c
*.mod
*.dtb.S
*.dtbo
*.syms
*.S


# 忽略构建工具生成的目录
build/
dist/
out/
target/
config/
generated/

#忽略一些文件
u-boot
dtc-lexer.lex.c
dtc-parser.tab.c
config.h
dtc-parser.tab.h
rootfs.ext2
Module.symvers
.version
dtbs-list
.checked-atomic-arch-fallback.h
.checked-atomic-instrumented.h
.checked-atomic-long.h
autoconf.mk.dep
autoconf.mk
.mconf-cfg
zconf.lex.c
zconf.tab.c