# 忽略编译生成的二进制文件
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib

# 忽略编译中间产物
*.d
*.s
*.i
*.o
*.out
*.cmd
*.bin
*.su
*.tmp
*.dtb
*.old
*.config
*.map
*.h
*.cfgout
*.srec
*.log
*.imx
*.lds
*.cfg
*.sym



# 忽略构建工具生成的目录
build/
dist/
out/
target/
config/

#忽略一些文件
u-boot
dtc-lexer.lex.c
dtc-parser.tab.c


