

PLATFORM_CONFIG=imx6ull

UBOOT_BIN_NAME="u-boot-dtb.imx"
FDT_BIN_NAME="imx6ull-14x14-evk.dtb"
KERNEL_BIN_NAME="zImage"
ROOTFS_BIN_NAME="rootfs.ext2"

UBOOT_VERSION=mainline
KERNEL_VERSION=nxp-6.12













